[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_non_forked/tagbar"]
	path = sources_non_forked/tagbar
	url = https://github.com/majutsushi/tagbar
